.collection-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  margin-right: 0em;
  margin-left: 0em;

  .title {
    font-size: 38px;
    margin: 0 auto 30px;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    & .collection-item {
      margin-bottom: 30px;
    }
  }
}

.our-story{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 1000px;

.image{

}

.shop-info{
  display: flex;
  flex-direction: column;

.title{
  flex-direction: column;
  margin-left: 50px;
  margin-bottom: 20px;
}

.bio{
  margin-left: 50px;
}
}

}

.social-media{
  display: flex;
  flex-direction: row;

  .social-icon{
    display: flex;
    flex-direction: row;
  }
}
