.collection-item {
  max-width: 22vw;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  
  height: 350px;
  position: relative;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  &:hover {
    .image {
      opacity: 0.8;
      transform: scale(1.03);
      transition: transform 3s cubic-bezier(0.25, 0.25, 0.25, 0.25);
    }

    .custom-button {
      opacity: 0.85;
      display: flex;
    }
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    font-size: 18px;

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }
  }
}
