.container {
    position: relative;
    width: 400px;
    margin: auto;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 2em;
  }
  
  .buttonBack {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .buttonNext {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  
  
  .dotGroup {
    text-align: center;
  }