.directory-item{

  .entrepreneur{

    .quote{
      border: 1px solid black;
    }
  }

  .directory-gallery{
    border: 1px solid black;
  }

  .button-bar{
    display: flex;
    flex-direction: row;
  }
}