.directory-item {
  border: 1px solid black;
  width: 800px;
  margin-bottom: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .entrepreneur {
    display: flex;
    flex-direction: column;

    .owner-avatar {
      margin-top: -3em;
      margin-left: -3em;
    }

    .quote {
      align-self: center;

      .quote-text {
        margin-left: 1em;
      }
    }
  }

  .directory-gallery {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
 
    margin-top: 1em;
    margin-bottom: 2em;

  

  }

  .button-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 200px;
    margin-bottom: 2em;

  }
}

img.owner-image {
  width: 200px;
  border-radius: 50%;
  border: 1px solid black;
}
